#root{
    width: 100%;
    height: 100%;
}
.right-top{
    display: flex;
    justify-content: space-between;
    gap: 700px;
    height: 40px;
}
.right-top button{
    background-color: rgb(22, 22, 22);
    border: none;
    color: aliceblue;
    padding: 5px;
    font-size: 15px;
    height: 40px;
}
.right-top button:hover{
    background-color: rgb(64, 65, 66);
    border-radius: 15px;
    cursor: pointer;
}
.rightdiv{
    width: 100%;
    
   margin-left: 75px;
    height: 100%;
    background-color: rgb(20, 21, 20);
    
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.right-bottom .card{
    width: 150px;
    height: 200px;
    background-color: rgb(36, 38, 38);
    border-radius: 20px;
    padding: 10px;

    /* display: flex; */

}
.right-bottom .card:hover{
    background-color: rgb(64, 67, 69);
    cursor: pointer;
}
.right-bottom{
    display: flex;
    gap: 20px;
   
    
}
.engine{
    display: flex;
    width: 90%;
    justify-content: center;
    height: 50px;
    background-color: aliceblue;
    border: 2px solid rgb(142, 141, 141);
    border-radius: 5px;

}
.engine input{
    
    outline: none;
    background-color: rgb(50, 50, 51);
    padding: 10px;
    border: none;
    color: aliceblue;
    font-size: 20px; 
    width: 100%;
    height: 100%;
    background-color: rgb(55, 54, 53);
    border: none;

}
.div-1{
    width: 100%;
    height: 100%;
    justify-content: right;
}
.send{
    height: 46px;

    background-color:rgb(55, 54, 53);
    cursor: pointer;
}
.colors{
    font-size: 70px;
    background: linear-gradient(90deg, rgb(32, 22, 228) 17%, rgb(231, 104, 223) 53%, rgba(203,38,55,1) 81%);
  -webkit-background-clip: text; /* Ensures the gradient is clipped to the text */
  -webkit-text-fill-color: transparent; /* Makes the text transparent so the gradient is visible */
  background-clip: text; /* Standard property for other browsers */
  text-fill-color: transparent; 
}
.w-colors{
    font-size: 60px;
    
    color: rgb(87, 88, 91);
}