#root{
    width: 100%;
    height: 100%;
}
.rightdiv{
    width: 100%;
    
   margin-left: 75px;
    height: 100%;
    background-color: rgb(20, 21, 20);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.right-bottom .card{
    width: 150px;
    height: 200px;
    background-color: rgb(36, 38, 38);
    border-radius: 20px;
    padding: 10px;

    /* display: flex; */

}
.right-bottom{
    display: flex;
    gap: 20px;
   
    
}
.engine input{
    width: 700px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(50, 50, 51);
    padding: 10px;
    border: none;
    color: aliceblue;
    font-size: 20px;

}
