.sidebar{
background-color: rgb(29, 30, 29);
display: flex;

flex-direction: column;

color: rgb(221, 223, 224);
min-height: 100vh;

justify-content: space-between;
gap: 10px;
align-items: center;
position: absolute;
/* width: 75px; */

padding: 10px;
}
.top{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}



.newchat img{
    padding: 5px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    
   
}

.newchat{
    display: flex;
    gap: 10px;
    cursor: pointer;
    border-radius:10px;
    padding: 10px;
    /* background-color: aliceblue; */
    background-color: rgb(45, 47, 45);
}

.newchat button{
    /* background-color: rgb(29, 30, 29); */
    background-color: transparent;
    color: aliceblue;
    cursor: pointer;
    padding: 5px;
    border: none;
    display: none;
}

.newchat .active{
    display: block;
}
.sidebar img{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.top .menu{
    border-radius: 50%;
    padding: 5px;
} 
.top .menu:hover{
    background-color: rgb(54, 54, 55);
}
.recent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    /* max-height: 170px; */
   
    /* overflow: scroll; */
    /* -ms-overflow-style: none;  */
  /* scrollbar-width: none; */
}
.recent .recent-search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background-color: rgb(44, 45, 45);
    cursor: pointer;
    /* padding: 10px; */
}
.histories{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 200px;
    overflow: scroll;
    scrollbar-width: none;
   
}
.histories p{
    display: none;
    width: 200px;
}
.active p{
    display: block;
}
.bottom
{

    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px;
}
.bottom p{
    display: none;
}
.bottom .bottom-items{
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(50, 50, 49);
    /* width: 150px; */


}
