*{
box-sizing: border-box;
font-family: 'Times New Roman', Times, serif;
}
#root{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  
  gap: 30px;
  flex-wrap: wrap;
  margin: 0px;

}
.image{
  width: 100px;
  height: 100px;
  border: 3px solid black;
  border-radius: 50%;
  padding: 3px;
  background-color: rgb(23, 237, 87);
}
li{
  list-style: none;
}
.card{
  background-color: rgb(50, 64, 63);
  width: 300px;
  height: 400px;
  max-width: 100%;
  position:relative;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  line-height: 50%;
  transition: transform 2s ease;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card:hover{
  transform: scale(110%); 
}
.status{
  top: 15px;
  left: 15px;
  position: absolute;
  padding: 5px;
  background-color: bisque;
  color: rgb(73, 151, 54);
  
}
.buttons{
 display: flex;
 justify-content: center;
 gap: 10px;
}
.buttons button{
  padding: 7px;
  border: none;
  cursor: pointer;
  color: rgb(236, 230, 230);
  background-color: rgb(93, 148, 230);
}
ul li{

  display: inline-block;
  border: 2px solid black;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  color: rgb(232, 226, 226);
  
}
.foot{
  text-align: left;
}
 h1, h2, h3,p
{
  color: rgb(230, 232, 234);
}